/* src/components/styles/Footer.css */
.footer-container {
    background-color: wheat;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-media a {
    margin: 0 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.footer-bottom p {
    font-size: 12px;
}

.footer-bottom p a {
    color: #ffc107;
    text-decoration: none;
}
